# WARNING: Using Anaconda instead of pip is highly recommended, especially on
# Windows or when using a GPU. Please see the installation instructions in
# INSTALL.md


##### Core scientific packages
jupyter~=1.0.0
matplotlib~=3.4.3
numpy~=1.19.5
pandas~=1.3.3
scipy~=1.7.1

##### Machine Learning packages
scikit-learn~=1.0